.passwordContainer {
  padding: 19px 28px;
}

.faded {
  opacity: 0.5;
}

.copyContainer {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.hidden {
  visibility: hidden;
}

.copiedText {
  color: #a4ffaf;
  position: absolute;
  right: 32px;
}
