.MuiContainer-root {
  align-items: center;
  flex-direction: column;
  max-width: 540px;
  height: 100%;
  gap: 24px;
  justify-content: center;
  padding-top: 35px;

  @media (max-width: 768px) { 
    max-width: 355px;
  }
}

.title {
  margin-bottom: 7px;
}

/* @media (min-width: 1000px) and (min-height: 700px) {
  .MuiContainer-root {
    max-width: 365px;
  }
} */
