.cardContainer {
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
}

.generateButton {
  width: 100%;
  padding: 21px 0;
  background-color: #a4ffaf;
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
  color: #24232c;
  border: 2px solid #a4ffaf;
}

.generateButton:hover {
  color: #a4ffaf;
  background-color: unset;
  border: 2px solid #a4ffaf;
}

.generateButton:hover path {
  fill: #a4ffaf;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.35;
}

.disabled:hover {
  color: #24232c;
  background-color: #a4ffaf
}

.disabled:hover path {
  fill: #24232C;
}
