.strengthContainer {
  display: flex;
  gap: 15px;
  align-items: center;
  height: 100%;

  @media (max-width: 768px) { 
    gap: 10px;
  }
}

.strengthText {
  white-space: nowrap;
}

.barContainer {
  height: 28px;
  gap: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.barContainer .bar {
  width: 10px;
  height: 100%;
}

.neutral {
  border: 2px solid #e6e5ea;
}

.tooWeak {
  background-color: #f64a4a;
}

.weak {
  background-color: #fb7c58;
}

.medium {
  background-color: #f8cd65;
}

.strong {
  background-color: #a4ffaf;
}
