.box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px;
  background-color: #18171f;
  margin-bottom: 32px;

  @media (max-width: 768px) { 
    padding: 12px 18px;
  }
}

.text {
  color: #817D92;
}
